@use '../../style/var';
@use '../../style/mixin';


.profile {
    @include mixin.focus(var.$orangeBtn);
    display: flex;
    flex-direction: column;
    border: solid 0.3rem var.$blueBtn ;
    border-radius: 1rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    width: 90%;

    h2 {
        @include mixin.h2Dashboard();
    }

    .profile-section {
        @include mixin.mobileFirst(column, wrap);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 1rem;
        width: 95%;


        Input,
        option,
        textarea {
            margin: 0.5rem;
            border-radius: 0.8rem;
            background-color: var.$yelloWrite;
            size: 2rem;
        }

        button {
            @include mixin.buttonStyle (var.$blueBtn, var.$yelloWrite);
            @include mixin.focus(var.$orangeBtn);
            width: 10rem;
            height: 2.3rem;
            margin: 1.5rem;
        }

        .profileChange {
            @include mixin.focus(var.$orangeBtn);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            padding: 1rem;
            margin: 3rem;
            background-color: var.$lightGreyWrite;
            border-radius: 1rem;
            border-color: 0.2rem solid;
            width: 95%;

            fieldset {
                flex-direction: column;
                flex-wrap: nowrap;
                padding: 0.8rem;
                margin: 1.3rem;
                border-radius: 1rem;
                background-color: var.$lightGreyWrite;
            }

            .interest {
                align-content: center;
                width: 25rem;

                input {
                    width: 4rem;
                    border-radius: 0.8rem;
                }

                span {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                }
            }
        }

        .createSkill {
            @include mixin.focus(var.$orangeBtn);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            padding: 1rem;
            margin: 3rem;
            background-color: var.$lightGreyWrite;
            border-radius: 1rem;
            border-color: 0.2rem solid;
            width: 95%;

            .categories {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

    }

    .redBtnProfile {
        @include mixin.buttonStyle(var.$redBtn, var.$lightGreyWrite);
        width: 30rem;
        margin: 1rem;
        padding: 0.8rem;
    }

    .skillsList {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1rem;
        margin: 3rem;
        margin: auto;
        background-color: var.$lightGreyWrite;
        border-radius: 1rem;
        border-color: 0.2rem solid;
        width: 85%;


        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style-type: none;
            padding: 0.5rem;
            background-color: var.$yelloWrite;
            border-radius: 0.8rem;

            .skillList-li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 2rem;
                margin: 0.3rem;
                border-radius: 1.8rem;
                padding: 0.5rem;
                border-color: 0.2 rem solid var.$bgGrey;
                width: 98%;
                background-color: var.$bgGrey;
                font-size: 1rem;


                .title {
                    font-size: 1.5rem;
                }

                .btn {
                    @include mixin.focus(var.$blueBtn);
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    width: 40%;

                    .orangeBtn {
                        @include mixin.buttonStyle(var.$orangeBtn, var.$blackWrite);
                        width: 52%;
                        height: 2rem;
                        @include mixin.mobileFirst(column, wrap);
                    }

                    .redBtn {
                        @include mixin.buttonStyle(var.$redBtn, var.$lightGreyWrite);
                        width: 52%;
                        @include mixin.mobileFirst(column, wrap);
                    }
                }

            }
        }
    }
}