@use '../../style/var';
@use '../../style/mixin';

fieldset {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    background-color: var.$yellowBtn;
    border-radius: 1rem;
    border-color: solid 0.2rem var.$yellowBtn;
    padding: 1rem;
    margin: 2rem;
    color: rgb(59, 58, 58);

    .formProfileChange {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 1rem;


        label {
            margin: 0.5rem;
            border-radius: 0.2rem;

        }

        Input {
            margin: 0.5rem;
            border-radius: 0.2rem;
            background-color: var.$yelloWrite;

        }

        button {
            @include mixin.buttonStyle (var.$blueBtn);
        }

    }

}