@use '../../style/var';

a {
    text-decoration: none;

}

.footer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: var.$yelloWrite;
    padding: 2rem;
    color: var.$blackWrite;
}