@font-face {
    font-family: 'sugo pro display';
    src: url('./base/Sugo-Pro-Display-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2 {
    font-family: 'sugo pro display', 'sans-serif';
   
}
body{
    background-color: rgb(252, 237, 219);
    font-family: 'prompt', 'sans-serif';
    color: black;
    box-sizing: border-box;

}

.App{
    width: 100%;
}