@use '../../../style/var';
@use '../../../style/mixin';


.skillUpDate {
    @include mixin.mobileFirst(column, wrap);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 0.3rem var.$blueBtn ;
    border-radius: 1rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;

    h2 {
        @include mixin.h2Dashboard();
    }

    fieldset {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        padding: 0.8rem;
        margin: 1.3rem;
        border-radius: 1rem;
        width: calc(90%/2);



    }

    .categories {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .interest {
        align-content: center;
        width: 25rem;

        input {
            width: 4rem;
            border-radius: 0.8rem;
        }

        div {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
        }
    }
}