@use '../../style/var';
@use '../../style/mixin';


.numberMember {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


h3 {
    text-align: center;
}

.user {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    background-color: var.$lightGreyWrite;
    border-radius: 1rem;
    border-color: 0.2rem solid;
    width: 95%;


    ul {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        list-style-type: none;
        padding: 0.5rem;
        margin: 1rem;
        background-color: var.$yelloWrite;
        border-radius: 0.8rem;
        width: 98%;

        .user-li {

            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            height: 2rem;
            margin: 1rem;
            border-radius: 1.8rem;
            padding: 0.5rem;
            border-color: 0.2 rem solid var.$bgGrey;
            width: 98%;
            background-color: var.$bgGrey;
            font-size: 1.5rem;




            .btn {
                @include mixin.focus(var.$blueBtn);
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                width: 30%;

                .orangeBtn {
                    @include mixin.buttonStyle(var.$orangeBtn, var.$blackWrite);
                    width: 52%;
                    height: 2rem;
                    @include mixin.mobileFirst(column, wrap);
                }

                .redBtn {
                    @include mixin.buttonStyle(var.$redBtn, var.$lightGreyWrite);
                    width: 52%;
                    @include mixin.mobileFirst(column, wrap);
                }

            }

            @media screen and (max-width:43rem) {
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: center;
                flex-wrap: nowrap;
                text-align: justify;
                height: 5rem;



                h2 {
                    padding: 2rem 15rem;
                }

                button {
                    font-size: 0.5rem;
                }
            }
        }
    }
}