@use '../../style/var';
@use '../../style/mixin';


.learning {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid 0.3rem var.$blueBtn ;
    border-radius: 1rem;
    margin: 2rem;
    // justify-content: center;
    // align-items: center;

    h2 {
        @include mixin.h2Dashboard();
    }

    #learning {
        @include mixin.mobileFirst();
        @include mixin.focus(var.$orangeBtn);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        line-height: 1.1rem;
        border-radius: 1rem;
        border-color: solid 0.2rem var.$yellowBtn;
        padding: 2rem;
        color: rgb(109, 90, 90);
        width: 90%;
    }

    .learning-section {

        flex-direction: row;
        margin: 1rem;
        width: 95%;


    }

    .skillsList {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1rem;
        margin: 3rem;
        background-color: var.$lightGreyWrite;
        border-radius: 1rem;
        border-color: 0.2rem solid;
        width: 50%;

        h3 {
            padding: 1rem 1rem;
        }

        ul {
            list-style-type: none;
            padding: 0rem;

            span {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: auto;
                border-radius: 1.8rem;
                padding: 0.5rem;
                border-color: 0.2 rem solid var.$bgGrey;
                background-color: var.$bgGrey;

                .btn {

                    @include mixin.focus(var.$blueBtn);
                    @include mixin.buttonStyle (var.$lightGreyWrite, var.$blueBtn);
                    width: 10rem;
                    height: 2.5rem;
                }

                li {
                    @include mixin.focus(var.$orangeBtn);
                    color: var.$yelloWrite;
                    padding: 0.5rem;
                    border-radius: 1rem;
                    width: 55%;
                    justify-content: right;
                    align-items: center;
                }
            }
        }
    }



    @include mixin.mobileFirst();
}