@use '../../style/var';
@use '../../style/mixin';

.skillsList {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 3rem;
    margin: auto;
    background-color: var.$lightGreyWrite;
    border-radius: 1rem;
    border-color: 0.2rem solid;
    width: 85%;


    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        padding: 0.5rem;
        background-color: var.$yelloWrite;
        border-radius: 0.8rem;

        .skillList-li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 2rem;
            margin: auto;
            border-radius: 1.8rem;
            padding: 0.5rem;
            border-color: 0.2 rem solid var.$bgGrey;
            width: 98%;
            background-color: var.$bgGrey;

            li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 1rem;

                .title {
                    font-size: 1.5rem;
                }

                .btn {
                    @include mixin.focus(var.$blueBtn);
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    width: 40%;

                    .orangeBtn {
                        @include mixin.buttonStyle(var.$orangeBtn, var.$blackWrite);
                        width: 52%;
                        height: 2rem;
                        @include mixin.mobileFirst(column, wrap);
                    }

                    .redBtn {
                        @include mixin.buttonStyle(var.$redBtn, var.$lightGreyWrite);
                        width: 52%;
                        @include mixin.mobileFirst(column, wrap);
                    }
                }
            }
        }
    }
}