@use '../../../style/var';


#skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    background-color: var.$yellowBtn;
    border-radius: 1rem;
    border-color: solid 0.2rem var.$yellowBtn;
    padding: 1rem;
    margin: 1rem;
    color: rgb(59, 58, 58);

    .skill-header,
    .skill-info,
    .skill-teacher {
        padding: 1rem;
        flex-direction: column;
        width: calc(100%/3);
    }
}

h4 {
    color: var.$blueBtn;
    font-weight: bold;
    font-family: 'sugo pro display';
}