@use './var';
@use './global';

//* card

//= search's card
@mixin skillCard {
    background-color: var.$yellowBtn;
    border-color: var.$orangeBtn 0.2rem solid;
    border-radius: 1rem;
    color: var.$blackWrite;
}

//= grey's card
@mixin statisticCard {
    background-color: var.$lightGreyWrite;
    border-color: var.$bgGrey0.2rem solid;
    border-radius: 1rem;
    color: var.$blackWrite;
}