@import "../../style/abstract/variables";


.allCards{
    display: flex;
    flex-direction: column;
    

        .card {
            border-radius: 40px;
            background-color: $background-color;
            margin:5px;
            color: black;
            font-size: 1rem;
        }

}

