// @font-face {
//     // font-family: sugo pro display;
//     src: url("./font/Sugo-Pro-Display-Regular-trial.");
// }
:root {
    --background: #eee;
    --font-color: #292929;
}

:root[theme="dark"] {
    --background: #091022;
    --font-color: #d3ddff;
}


body {
    font-family: 'prompt', 'sans-serif';
}


h1,
h2,
h3,
h4 {
    font-family: 'sugo pro display', 'sans-serif';
}