@use './var';

@font-face {
    font-family: 'sugo pro display';
    src: url('./style/font/Sugo-Pro-Display-Regular-trial.ttf') format(' truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    .dark {
        background: #333;
        color: fff;
    }

    .light {
        background: #fff;
        color: #333;
        transition: background-color 0.3s ease;
    }
}



body {
    display: flex;
    flex-direction: column;
    font-family: 'prompt', 'sans-serif';

}

img {
    margin: 0.3rem;
    align-items: end;
}


h1 {
    font-family: 'sugo pro display', 'sans-serif';
}

.arianaWire {
    background-color: var.$yelloWrite;
}