@use './var';
@use './global';


//= li 's list
@mixin skillList {
    background-color: var.$bgGrey;
    border-radius: 1rem;
    color: var.$blackWrite;
}

//* buttons

@mixin buttonStyle($background-color ) {
    background-color: $background-color;
    color: var.$yelloWrite;
    font-weight: bold;
    border-radius: 2rem;
}


//* NavBar items