@use './var';

@mixin small {
    @media screen and (max-width:60rem){
        @content;
    } 
}

@mixin medium {
    @media screen and (min-width:60rem){
        @content;
    } 
}

@mixin big {
    @media screen and (min-width:90rem){
        @content;
    } 
}

@mixin button_blue{
    max-width: fit-content;
    color: var.$background-color;
    background-color: var.$secondary-color;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var.$dark-blue
    }

    &:active {
        background-color: lighten(var.$dark-blue, 10%); // Change la couleur de fond lorsqu'on clique
        transform: scale(0.95); // Effet de réduction de la taille
    }
}

@mixin button_grey{
    max-width: fit-content;
    color: var.$dark-grey-color;
    background-color: var.$xtra-soft-grey;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var.$medium-grey-color;
        color: var.$background-color;
    }

    &:active {
        background-color: lighten(var.$medium-grey-color, 10%); // Change la couleur de fond lorsqu'on clique
        transform: scale(0.95); // Effet de réduction de la taille
    }
}

@mixin small-button_grey{
    max-width: fit-content;
    color: var.$xtra-dark-grey;
    background-color: var.$xtra-soft-grey;
    border-radius: 10px;
    padding: 0px 9px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var.$medium-grey-color;
        color: var.$background-color;
    }
    // &:active {
    //     background-color: lighten(var.$medium-grey-color, 10%); // Change la couleur de fond lorsqu'on clique
    //     transform: scale(0.95); // Effet de réduction de la taille
    // }
}

@mixin button_light_blue{
    max-width: fit-content;
    color: var.$font-blue;
    background-color: var.$clear-blue;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var.$metal-blue;
        color: white;
    }

    &:active {
        background-color: lighten(var.$dark-blue, 10%); // Change la couleur de fond lorsqu'on clique
        transform: scale(0.95); // Effet de réduction de la taille
    }
}

@mixin button_light_orange{
    max-width: fit-content;
    color: var.$font-orange;
    background-color: var.$light-orange;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var.$primary-color;
        color: white;
    }

    &:active {
        background-color: lighten(var.$primary-color, 10%); // Change la couleur de fond lorsqu'on clique
        transform: scale(0.95); // Effet de réduction de la taille
    }
}