
// $primary-color:#ff6600;
$primary-color:#ff7f00;
// $primary-color:#ff751a;
$secondary-color: rgb(0, 140, 255);
$dark-grey-color: rgb(73, 72, 72);
$xtra-dark-grey:rgb(31, 30, 30);
$skillswap-color: rgb(0, 140, 255);
// $secondary-color: rgb(58, 174, 241);
$background-color:white;
$font-size-base: 16px;
$padding-base: 10px; 