
// $primary-color:#ff6600;
// $primary-color:#ff7b00;
$primary-color:#ff6d33;
// $primary-color:#ff6702cc;
$soft-orange:#ffa54b;
// $primary-color:#ff751a;
$secondary-color: rgb(0, 140, 255);
$soft-grey-color: rgb(129, 127, 127);
$medium-grey-color: rgb(105, 104, 104);
$xtra-soft-grey:rgb(224, 217, 217);
$dark-grey-color: rgb(73, 72, 72);
$xtra-dark-grey:rgb(31, 30, 30);
$skillswap-color: rgb(0, 140, 255);
$dark-blue: rgb(0, 104, 189);
$metal-blue: rgb(0, 102, 255);
// $secondary-color: rgb(58, 174, 241);
$background-color:white;
$font-size-base: 16px;
$padding-base: 10px; 
$icons_color:#e47900;
// $icons_color:#e07800;
$yellow_color:#ffe600;