//* buttons
$orangeBtn: #ef9700;
$blueBtn: hwb(213 9% 45%);
$redBtn: #C83030;
$yellowBtn: #eeb451;

//*write colors
$yelloWrite: #FFF8E1;
$blackWrite: #000000;
$lightGreyWrite: #F1EAEA;

//*bgColor
$bgGrey: #a3a2a2;
$bgWhite: #fff8e1;

//*message
$success: rgba(108, 249, 131, 0.415);
$error: rgba(242, 129, 101, 0.266);