@use 'reset-css';
@use './var';
@use './mixin';
@import './global';



body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // background-image: url("./icones/orange-background.png");
    background-image: url("./icones/blue_orange_background.jpg");
    // background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}

