@use '../../style/var';
@use '../../style/mixin';

.arianaWire {
    @include mixin.focus(var.$blueBtn);
    display: flex;
    flex-direction: row;
    background-color: var.$yelloWrite;
    justify-content: start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;


    .searchBar {
        display: flex;
        flex-direction: row;
        background-color: var.$yelloWrite;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        gap: 0.2rem;

        select {
            position: relative;

        }

        select::after {
            content: '\25BC';
            /* Utilisation de Unicode pour le chevron vers le bas */
            position: absolute;
            margin: auto;
            right: 1rem;
            /* Ajustez selon votre préférence */
            transform: translateY(-50%);

        }

    }


    .logo {
        width: 4.5rem;
        height: 4.5rem;
    }


    input,
    select,
    option {
        margin: 0.4rem;
        padding: 0.2rem;
        background-color: var.$orangeBtn;
        color: var.$yelloWrite;
        border-color: solid 0.2rem var.$orangeBtn;
        height: 4rem;
        width: 18rem;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 0.8rem;
    }




    button {
        width: 7rem;
        height: 4rem;
        background-color: var.$orangeBtn;
        margin: 0.4rem;
        padding: 0.2rem;
        border-radius: 0.8rem;

        img {
            width: 3rem;
            height: 3rem;
            align-items: center;
            justify-content: center;
        }

        .btnSearch {
            justify-content: center;

        }
    }

    .darkBtn {
        justify-content: right;
    }


}

.ancre,
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: var.$yelloWrite;

    img {
        margin: 0.5rem;
        width: 3rem;
        height: 3rem;
    }

}