@use '../../style/var';

.arianaWire {
    display: flex;
    flex-direction: row;
    background-color: var.$yelloWrite;
    justify-content: flex-end;
    width: auto;
    flex-wrap: wrap;
    align-items: stretch;


    .searchBar {
        display: flex;
        flex-direction: row;
        align-content: left;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: var.$yelloWrite;
        border-radius: 0.3rem;
        margin-bottom: 1rem;

    }


    .logo {
        justify-content: start;
        width: 4.5rem;
        height: 4.5rem;
    }

    // option,
    // input,
    // select {
    //     size: 3rem;
    // }

    input,
    select,
    option {
        margin: 0.4rem;
        padding: 0.2rem;
        background-color: var.$orangeBtn;
        color: var.$yelloWrite;
        border-color: solid 0.2rem var.$orangeBtn;
        size: 6rem;
        height: 4rem;

    }

    button {
        width: 7rem;
        height: 4rem;
        background-color: var.$orangeBtn;
        margin: 0.4rem;
        padding: 0.2rem;

        .btnSearch {
            justify-content: center;

        }
    }

    .darkBtn {
        justify-content: right;
    }

}

.ancre,
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: var.$yelloWrite;

    img {
        margin: 0.5rem;
        width: 3rem;
        height: 3rem;
    }

}