@import '../../style/abstract/variables';
body{
    background-color: $primary-color;
        
}

section {
            margin:30px;
            color: white;
            font-size: 1.7rem;
            .display{
                border-radius: 10px;
                background-color: $secondary-color;
    }

button{
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: blanchedalmond;
}
}