@use '../../style/var';
@use '../../style/mixin';

h1 {
    text-align: center;
}

article {
    background-color: var.$lightGreyWrite;
    border-radius: 1rem;
    border-color: solid 0.2rem var.$bgGrey;
    padding: 2rem;
    margin: 1rem;
}

home {
    @include mixin.focus();
}