@import '../../style/abstract/variables';
body{
    background-color: $primary-color;
        
}

section {
    margin:30px;
    color: $background-color;
    font-size: 1.7rem;

    .border-display{
        margin-left: 1rem; 
        
    }
        .display{
            // box-sizing: content-box;
            background-color: $secondary-color;
            border: solid 1px $secondary-color;
            border-radius: 30px; 
            padding-left: 0.8rem;
            padding-bottom: 0.3rem;
            margin-right: 0.3rem;
        }

    button{
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: $background-color;
    }
}