body{
    background-color: rgb(255, 145, 0);
        
}

section {
            margin:30px;
            color: rgb(255, 255, 255);
            font-size: 1.7rem;
            .display{
                border-radius: 10px;
                background-color: rgb(58, 174, 241);
            }
    }

button{
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: blanchedalmond;
}