@use '../../style/var';
@use '../../style/mixin';


@include mixin.focus(var.$orangeBtn);

.dark {
    background: #333;
    color: fff;
}

.light {
    background: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}