@import "../../style/abstract/variables";


.navHome{
    display: flex;
    // height:40px;
    background-color:$background-color;
    border-bottom: 0.03125rem solid rgb(151, 146, 146);
    max-height: 5%;

    button{
        .icone{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            height:27px;
            color:$skillswap-color
        }
        h1{
            margin-left: 1rem;
            margin-right: 1rem;
            color:$skillswap-color;
            letter-spacing: 0.2rem;
        }
    }
}

