@import "../../style/abstract/variables";

.searchBar {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border-radius: 15px;
    margin:10%;


    .searchElement:first-child {
        margin-top: 1rem;
    }

    .searchElement, .searchButton {
        border: 1px solid #ccc; /* Ajouter une bordure simple */
        border-radius: 10px; /* Ajouter un rayon de bordure si désiré */
        background-color: #fff; /* Définir une couleur de fond */
        padding: 0.8rem; /* Ajouter du padding pour un espace interne */
        margin: 0rem 1rem ;
        font-size: 1rem; /* Définir une taille de police */
        width: 90%; /* Assurer que le select occupe la largeur de son conteneur */
        box-sizing: border-box; /* Inclure padding et bordure dans le calcul de la largeur */
    }

    .searchButton{
        background-color: $secondary-color;
        color: white;
        border: none;  
        height: 2.8rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        
        display: flex; /* Utiliser flexbox pour centrer le contenu */
        justify-content: center; /* Centrer horizontalement */
        align-items: center;
        align-self: center; /* centre l'élément parent = le bloc bleu */
    }
}


